@charset "UTF-8";
/*font-style -> font-weight -> font-size -> font-family*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #F266F2;
    --cor1: #E660E6;
    --cor2: #CC56CC;
    --cor3: #A646A6;
    --cor4: #662B66;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    min-width: 320;
}

body {
    background-color: var(--cor0);
    /* margin: auto; */
    height: 100vh;
    width: 100vh;
    /* max-width: 1000px;
    min-width: 300px;
    padding: 30px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
     border-radius: 10px ; */
}

/* header {
    color: var(--cor0);
    text-align: center;
    min-height: 5px;
    padding-top: 100px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
} */

/* .ClasseHeader {
    position: absolute;
    top: 450px;
    left: 430px;
    text-align: center;


} */

.Quadrado {
    position: relative;
    
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    text-align: center;
    left: 150px;
    top: 350px;
    padding: 10px;
    margin: 10px 10px 10px 250px;
}

#Inicio {
    position: absolute;
     left: 400px; 
    width: 150px;
    height: 150px;
    background-color: var(--cor3);
    border-radius: 20px;
    
}

#Projetos {
    position: absolute;
    left: 550px;
    width: 150px;
    height: 150px;
    background-color: var(--cor3);
    border-radius: 20px;
    
}

#Objetivos {
    position: absolute;
    left: 700px;
    width: 150px;
    height: 150px;
    background-color: var(--cor3);
    border-radius: 20px;
    
}

#Curiosidades {
    position: absolute;
    left: 850px;
    width: 150px;
    height: 150px;
    background-color: var(--cor3);
    border-radius: 20px;
    
}

/* .basico {
    position: relative;
    margin-top: 1px;
} */

a {
    margin: 15px 0px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
    transition-duration: .5s;
    border-radius: 4px;

}
 body img{
    width: 60%;
}

.Img {
    width: 500px;
    height: 500px;
    border-radius: 500px;
    background-color: var(--cor2);
    

}

.SectionImg {
    
    

}

footer {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
}