@charset "UTF-8";
/*font-style -> font-weight -> font-size -> font-family*/

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#F266F2;
    --cor1:#E660E6;
    --cor2:#CC56CC;
    --cor3:#A646A6;
    --cor4:#662B66;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    min-width: 320;
    }

body{
    background-color: #CC56CC;
    margin: auto;
    }
header{
    color:var(--cor0);
    text-align:center;
    min-height: 5px;
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    }

    h1.basico{
        text-align: left;
        padding: 10px;
        margin: 10px;
        text-indent: 10px;
    }
    h3{
        text-align: left;
        padding: 10px;
        margin: 10px;
        text-indent: 12px;
    }
    a{
        margin: 15px 0px;
        text-decoration: none;
        color: black;
        
    }
    
   nav > a:hover{
    background-color:var(--cor4);
    color: var(--cor3); 
    transition-duration: .5s;  
    }
  

   img{
   
    display: block;
    max-width: 350px;
    position: absolute;
    top: 20%;
    left: 60%;
   }

   div.linha{
   color: black;
   position: absolute;
   height: 200px;
   width: 200px;
   }

   footer > p{
    text-align:center;
    margin:
   
   }

    
   
